name: Build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install GCC ARM
      run: sudo apt-get update && sudo apt-get install -y gcc-arm-none-eabi
    - name: Add Target
      run: rustup target add thumbv6m-none-eabi
    - name: Build
      run: cargo build --verbose
    - name: Build Release
      run: cargo build --release --verbose
